*.blg
*.bbl
*.aux
*.glg
*.glo
*.acr
*.alg
*.idx
*.ilg
*.ind
*.log
Pflichtenheft/Pflichtenheft_goApp.pdf
*.toc
*.xdy
*.vux
*.acn
*.gls
*.out
*.synctex.gz
*.bak_*
*.vbak
*.lck
*.dvi
Entwurf/Entwurf_goApp.pdf
Implementierung/Server/goApp/.checkstyle
Implementierung/Server/goApp/.project
Implementierung/Client/goApp/.idea/checkstyle-idea.xml
Implementierung/Server/.classpath
*.project
Implementierung/Server/goApp/.project
serverConnection.lnk
