*.blg
*.bbl
*.aux
*.glg
*.glo
*.acr
*.alg
*.idx
*.ilg
*.ind
*.log
Pflichtenheft/Pflichtenheft_goApp.pdf
*.toc
*.xdy
*.vux
*.acn
*.gls
*.out
*.synctex.gz
*.bak_*
*.vbak
*.lck
*.dvi
Entwurf/Entwurf_goApp.pdf
Implementierung/Server/goApp/.checkstyle
Implementierung/Server/goApp/.project
Implementierung/Client/goApp/.idea/checkstyle-idea.xml
Implementierung/Server/.classpath
*.project
Implementierung/Server/goApp/.project
serverConnection.lnk
Implementierung/Dokumentation/Implementierung_goApp.pdf
Implementierung/Server/goApp/.project
Implementierung/Server/.sonarlint/modules/goApp/issues/
Implementierung/Server/.sonarlint/modules/goApp/issues/0/8/08e8f55e4974988fc310e0aa82cba5582d468fc8
Implementierung/Server/.sonarlint/modules/goApp/issues/2/d/2d65fb98a6149b25da64ef8fd317440e835803a6
Implementierung/Client/goApp/projectFilesBackup/.idea/workspace.xml
Implementierung/Client/goApp/build.gradle
